# first list the packages you wish to download from PyPI
teachbooks 
sphinx_apa_references==1.0.1
jupyter-book==1.0.4
jupyterquiz==2.8.*
matplotlib
numpy
ipywidgets==8.1.7
gravis
networkx==3.4.2
pandas==2.1.3
tzdata

git+https://github.com/TeachBooks/TeachBooks-Favourites
